# IRONHACK - BRUNO FÉLIX SCALIONI DA SILVA - DA|PT

## PROJECT 01 - Shark Attacks Analysis

# Data Cleaning and Manipulation with Pandas

# Overview

The main goal of the project is to demonstrate skills applying the knowledge about data manipulation, data cleaning and data wrangling with Python, using the Pandas library.

![title](shark1.jpg)

Hypothesis to test:

- Is Shark Attacks increasing over the years?
- Australia locations with highest attack rates.
- Months with highest attack rates.
- The most dangerous state.
- Proving to the australian governament the need for investment in security, hiring *BRUNO SECURITY ENTERPRISES*


Data Cleaning Goals: handle libraries; Identify and fill in missing values; Identify and correct incorrect values; Correct incorrect data types; rename and reorder columns; Examine data for potential issues.

In [1]:
# LIBRARIES

import pandas as pd
import numpy as np
from PIL import Image

In [2]:
# Importing the DataFrame
df = pd.read_csv('C:/Users/bruno/Desktop/Shark Attack/Global Shark Attacks/attacks.csv')

In [3]:
# Checking the Summary of the DataFrame and the DataFrame shape

df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

(25723, 24)

In [4]:
# overviewing all df columns
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

# Removing/Dropping rows and columns unuseful to this analysis

In [5]:
#removing all rows with no info:
df = df.dropna(how='all') 

#thresh = 0.9 - se 90% da linha for nula, ele dropa

In [6]:
# Dropping columns 'Unnamed: 22' and 'Unnamed: 23', due to all values are null
df.drop(columns=['Unnamed: 22','Unnamed: 23'], inplace=True)

In [7]:
# Dropping unusable columns in this analysis
df.drop(columns=['Case Number', 'Species ', 'Investigator or Source', 'pdf', 'Case Number.1', 'Case Number.2', 'original order'], inplace=True)

In [255]:
# Checking total cases in DF
df['Country'].value_counts()

USA                        2229
AUSTRALIA                  1338
SOUTH AFRICA                579
PAPUA NEW GUINEA            134
NEW ZEALAND                 128
                           ...
INDIAN OCEAN?                 1
MEXICO                        1
PALESTINIAN TERRITORIES       1
GUATEMALA                     1
BAY OF BENGAL                 1
Name: Country, Length: 212, dtype: int64

In [256]:
df['Country'].value_counts(normalize=True)

USA                        0.356526
AUSTRALIA                  0.214012
SOUTH AFRICA               0.092610
PAPUA NEW GUINEA           0.021433
NEW ZEALAND                0.020473
                             ...
INDIAN OCEAN?              0.000160
MEXICO                     0.000160
PALESTINIAN TERRITORIES    0.000160
GUATEMALA                  0.000160
BAY OF BENGAL              0.000160
Name: Country, Length: 212, dtype: float64

# Analysing Down Under area

![title](aussie1.jpg)

In [9]:
df_ozzie = df[df['Country'] == 'AUSTRALIA']

In [10]:
# Cleaning up empty spaces in columns
df_ozzie.columns = [x.strip() for x in df_ozzie.columns]
df_ozzie.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'href formula',
       'href'],
      dtype='object')

## Cleaning up "Area" column

In [11]:
#Checking Area data - before cleaning

#df_ozzie["Area"].value_counts()

In [12]:
# Checking Area rows with NaN 
#df_ozzie[df_ozzie['Area'].isnull()]

In [13]:
# Removing rows with NaN in Area column

df_ozzie = df_ozzie.dropna(subset=['Area'])

In [14]:
# function to: clean up empty spaces in Area column / correct area values name / replace similar places into state name (Torres Strait became Queensland)
def limpar_area(row):
    try:
        row = row.strip()
        row = row.replace('Westerm', 'Western')
        row = row.replace('Torres Strait', 'Queensland')
        return row
        
    except:
        return row

In [15]:
df_ozzie["Area"] = df_ozzie["Area"].map(limpar_area)

In [16]:
df_ozzie['Area'].value_counts()

New South Wales                         486
Queensland                              384
Western Australia                       192
South Australia                         104
Victoria                                 92
Tasmania                                 41
Northern Territory                       23
Territory of Cocos (Keeling) Islands      1
Norfolk Island                            1
Name: Area, dtype: int64

In [17]:
# Removing row Territory of Cocos

del_keeling = df_ozzie[df_ozzie["Area"] == 'Territory of Cocos (Keeling) Islands'].index
df_ozzie = df_ozzie.drop(del_keeling)

In [18]:
# Removing row Norfolk Island

del_norfolk = df_ozzie[df_ozzie['Area'] == 'Norfolk Island'].index
df_ozzie = df_ozzie.drop(del_norfolk)

In [19]:
# checking Area after union

df_ozzie['Area'].value_counts()

New South Wales       486
Queensland            384
Western Australia     192
South Australia       104
Victoria               92
Tasmania               41
Northern Territory     23
Name: Area, dtype: int64

In [257]:
df_ozzie['Area'].value_counts(normalize=True)

New South Wales       0.359592
Queensland            0.290083
Western Australia     0.158480
South Australia       0.081557
Victoria              0.063021
Tasmania              0.027804
Northern Territory    0.019462
Name: Area, dtype: float64

## Cleaning up "Date" Column

In [20]:
df_ozzie['Date'].value_counts()

27-Dec-2008    4
13-Mar-1977    3
Before 1903    2
25-Apr-2018    2
1876           2
              ..
13-Dec-1987    1
16-Apr-1906    1
15-Jan-1922    1
12-Dec-2009    1
22-Oct-2008    1
Name: Date, Length: 1267, dtype: int64

In [21]:
# Creating a column "Month" and cleaning characters from 'Date'

df_ozzie['Month'] = df_ozzie['Date'].apply(lambda x: str(x).replace('-', '').replace(' ',''))

In [22]:
import re

In [23]:
df_ozzie['a'] = df_ozzie["Date"]

In [24]:
def find_month1(row):
    try:
        return re.findall("\d{2}-? ?([A-Z]\w{2})-\d{2}",row)[0]
    except:
        return row
def find_month2(row):
    try:
        return re.findall("\d{2}-([A-Z]\w{2}) \d{2}",row)[0]
    except:
        return row
def find_month3(row):
    try:
        return re.findall("([A-Z]\w{2}) ?-?\d{4}",row)[0]
    except:
        return row
df_ozzie['a'].apply(find_month1).apply(find_month2).apply(find_month3)

3               Jun
5               Jun
10              May
14              May
16              May
           ...
6277    Before 1927
6282     1920 -1923
6296    Before 1906
6297    Before 1903
6298    Before 1903
Name: a, Length: 1322, dtype: object

In [25]:
df_ozzie['a'] = df_ozzie['a'].apply(find_month1).apply(find_month2).apply(find_month3)

In [26]:
df_ozzie['a'].value_counts()

Jan              208
Dec              179
Feb              148
Nov              131
Mar              126
                ...
Ca. 1962           1
Ca . 1825          1
Ca. 1929           1
Ca. mid-1870s      1
1988               1
Name: a, Length: 69, dtype: int64

In [27]:
# Selecting 'a' values greater than 41, getting only the months jan-dec
df_ozzie = df_ozzie.groupby('a').filter(lambda x : len(x)>41)
df_ozzie.head(1)

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,href formula,href,Month,a
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,08Jun2018,Jun

In [28]:
# Renaming 'a' column to month

df_ozzie = df_ozzie.rename(columns = {'a':'month'})
df_ozzie.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'href formula',
       'href', 'Month', 'month'],
      dtype='object')

## Cleaning up Year column

In [29]:
df_ozzie['Year'].value_counts()

2016.0    32
2015.0    31
2014.0    29
2009.0    28
2012.0    26
          ..
1945.0     1
1872.0     1
1861.0     1
1803.0     1
1867.0     1
Name: Year, Length: 174, dtype: int64

In [30]:
df_ozzie['Year'].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1994., 1993.,
       1992., 1991., 1990., 1989., 1988., 1987., 1986., 1985., 1984.,
       1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975.,
       1974., 1973., 1972., 1971., 1970., 1969., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
       1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
       1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
       1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
       1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
       1902., 1901., 1900., 1899., 1898., 1896., 1895., 1894., 1893.,
       1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885., 1884.,
       1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876., 1875.,
       1874., 1873., 1872., 1871., 1870., 1869., 1868., 1867., 1866.,
       1863., 1862., 1861., 1860., 1858., 1856., 1855., 1853., 1852.,
       1849., 1847., 1845., 1841., 1840., 1839., 1837., 1832., 1831.,
       1807., 1804., 1803., 1788.])

In [31]:
# Filling nan values with 0 value

df_ozzie["Year1"] = df_ozzie["Year"].fillna(0).astype(int)

In [32]:
df_ozzie['Year1'].unique()

array([2018, 2017,    0, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009,
       2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998,
       1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987,
       1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967, 1966, 1965,
       1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954,
       1953, 1952, 1951, 1950, 1949, 1948, 1947, 1946, 1945, 1944, 1943,
       1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932,
       1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921,
       1920, 1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910,
       1909, 1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899,
       1898, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888, 1887,
       1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877, 1876,
       1875, 1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866, 1863,
       1862, 1861, 1860, 1858, 1856, 1855, 1853, 1852, 1849, 1847, 1845,
       1841, 1840, 1839, 1837, 1832, 1831, 1807, 1804, 1803, 1788])

In [33]:
# Reducing DF to years greater than 1918
df_ozzie = df_ozzie[df_ozzie['Year1'] > 1918]

In [34]:
df_ozzie.head(1)

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,href formula,href,Month,month,Year1
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,08Jun2018,Jun,2018

## Dropping Columns: Year, Activity, Name, Sex, Age, Injury, href formula, href

In [35]:
df_ozzie.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'href formula',
       'href', 'Month', 'month', 'Year1'],
      dtype='object')

In [36]:
#
df_ozzie = df_ozzie.rename(columns={'Year1':'year'})
df_ozzie.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'href formula',
       'href', 'Month', 'month', 'year'],
      dtype='object')

In [37]:
df_ozzie_1 = df_ozzie[['Country', 'Area','Fatal (Y/N)','month', 'year']]

In [38]:
df_ozzie_1

        Country                Area Fatal (Y/N) month  year
3     AUSTRALIA     New South Wales           N   Jun  2018
5     AUSTRALIA     New South Wales           N   Jun  2018
10    AUSTRALIA          Queensland           N   May  2018
14    AUSTRALIA   Western Australia           N   May  2018
16    AUSTRALIA     New South Wales           N   May  2018
...         ...                 ...         ...   ...   ...
5265  AUSTRALIA  Northern Territory           N   Nov  1919
5270  AUSTRALIA     New South Wales     UNKNOWN   Mar  1919
5271  AUSTRALIA     New South Wales           N   Jan  1919
5273  AUSTRALIA     New South Wales           Y   Jan  1919
5274  AUSTRALIA          Queensland           Y   Jan  1919

[1079 rows x 5 columns]

## Cleaning up Fatal column

In [39]:
df_ozzie_1['Fatal (Y/N)'].unique()

array(['N', 'Y', nan, 'UNKNOWN', ' N'], dtype=object)

In [40]:
df_ozzie_1['Fatal (Y/N)'] = df_ozzie_1['Fatal (Y/N)'].str.strip()

<ipython-input-40-8d19eb9b7f8e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ozzie_1['Fatal (Y/N)'] = df_ozzie_1['Fatal (Y/N)'].str.strip()

In [42]:
df_ozzie_1['Fatal (Y/N)'].unique()

array(['N', 'Y', nan, 'UNKNOWN'], dtype=object)

In [43]:
df_ozzie_1.rename(columns={'Fatal (Y/N)':'Fatal'}, inplace=True)

C:\Users\bruno\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [44]:
df_ozzie_1.columns

Index(['Country', 'Area', 'Fatal', 'month', 'year'], dtype='object')

In [49]:
def fatal(row):
    if row['Fatal'] == ('Y'):
        return 'Yes'
    elif row['Fatal'] == ('N'):
        return 'No'
    elif row['Fatal'] == 'UNKNOWN':
        return 'No'
    elif pd.isnull(row['Fatal']) == True:
        return None

In [52]:
df_ozzie_1['Fatal'] = df_ozzie_1.apply(fatal, axis=1)

<ipython-input-52-ab98dfbf1f15>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ozzie_1['Fatal'] = df_ozzie_1.apply(fatal, axis=1)

In [79]:
df_ozzie_1

        Country                Area Fatal month  year
3     AUSTRALIA     New South Wales    No   Jun  2018
5     AUSTRALIA     New South Wales    No   Jun  2018
10    AUSTRALIA          Queensland    No   May  2018
14    AUSTRALIA   Western Australia    No   May  2018
16    AUSTRALIA     New South Wales    No   May  2018
...         ...                 ...   ...   ...   ...
5265  AUSTRALIA  Northern Territory    No   Nov  1919
5270  AUSTRALIA     New South Wales    No   Mar  1919
5271  AUSTRALIA     New South Wales    No   Jan  1919
5273  AUSTRALIA     New South Wales   Yes   Jan  1919
5274  AUSTRALIA          Queensland   Yes   Jan  1919

[1079 rows x 5 columns]

In [108]:
# Passing columns to lower case
df_ozzie_1 = df_ozzie_1.rename(columns={'Country':'country', 'area':'state', 'Fatal':'fatal'})

In [109]:
#df = df[["C", "A", "B"]]

df_ozzie_1 = df_ozzie_1[['year', 'month', 'country', 'state', 'fatal']]

In [116]:
df_ozzie_1['year'].max()

2018

## Creating Decade Column

In [160]:
# creating a function to define the decades 

def decada(ano):
    if ano >=1919 and ano <= 1929:
        return '1919-1929'
    elif ano >1929 and ano <= 1939:
        return '1929-1939'
    elif ano >1939 and ano <= 1949:
        return '1939-1949'
    elif ano > 1949 and ano <= 1959:
        return '1949-1959'
    elif ano > 1959 and ano <= 1969:
        return '1959-1969'
    elif ano > 1969 and ano <= 1979:
        return '1969-1979'
    elif ano > 1979 and ano <= 1989:
        return '1979-1989'
    elif ano > 1989 and ano <= 1999:
        return '1989-1999'
    elif ano > 1999 and ano <= 2009:
        return '1999-2009'
    elif ano > 2009 and ano <= 2019:
        return '2009-2019'

In [161]:
df_ozzie_1['decade'] = df_ozzie_1['year'].map(decada)

In [162]:
df_ozzie_1

      year month    country               state fatal     decade
3     2018   Jun  AUSTRALIA     New South Wales    No  2009-2019
5     2018   Jun  AUSTRALIA     New South Wales    No  2009-2019
10    2018   May  AUSTRALIA          Queensland    No  2009-2019
14    2018   May  AUSTRALIA   Western Australia    No  2009-2019
16    2018   May  AUSTRALIA     New South Wales    No  2009-2019
...    ...   ...        ...                 ...   ...        ...
5265  1919   Nov  AUSTRALIA  Northern Territory    No  1919-1929
5270  1919   Mar  AUSTRALIA     New South Wales    No  1919-1929
5271  1919   Jan  AUSTRALIA     New South Wales    No  1919-1929
5273  1919   Jan  AUSTRALIA     New South Wales   Yes  1919-1929
5274  1919   Jan  AUSTRALIA          Queensland   Yes  1919-1929

[1079 rows x 6 columns]

## Insights

In [163]:
# Checking SHARK ATTACKS per decade - IT'S INCREASING !!!

df_ozzie_1['decade'].value_counts()

2009-2019    222
1999-2009    170
1959-1969    130
1929-1939    126
1919-1929     95
1949-1959     93
1939-1949     73
1989-1999     69
1969-1979     57
1979-1989     44
Name: decade, dtype: int64

In [222]:
# Total SHARK ATTACKS per state

df_ozzie_1['state'].value_counts()

New South Wales       388
Queensland            313
Western Australia     171
South Australia        88
Victoria               68
Tasmania               30
Northern Territory     21
Name: state, dtype: int64

In [247]:
# Total SHARK ATTACKS per month

df_ozzie_1['month'].value_counts()

Jan    169
Dec    146
Feb    129
Mar    107
Nov    106
Apr     94
Oct     83
Jun     54
Aug     50
May     50
Sep     49
Jul     42
Name: month, dtype: int64

In [251]:
au_areas = df_ozzie_1.query('state in ["New South Wales","Queensland","Western Australia","South Australia"]')
#au = df1.query('Area in ["New South Wales","Queensland"]')

In [253]:
# The most dangerous state: Queensland

au_areas.groupby('state').fatal.apply(lambda x: (x=='Yes').mean())

state
New South Wales      0.144330
Queensland           0.233227
South Australia      0.227273
Western Australia    0.134503
Name: fatal, dtype: float64

![title](qld.jpg)

In [ ]:
# I WISH TO DO THAT !

#df_ozzie_1[df_ozzie_1['state'] == 'New South Wales' == '1919-1929'].sum()

In [215]:
# Total cases per state in each decade
df_ozzie_1.groupby(['state','decade']).count()

                             year  month  country  fatal
state             decade
New South Wales   1919-1929    36     36       36     32
                  1929-1939    50     50       50     45
                  1939-1949    30     30       30     27
                  1949-1959    32     32       32     29
                  1959-1969    48     48       48     42
...                           ...    ...      ...    ...
Western Australia 1969-1979     3      3        3      3
                  1979-1989     9      9        9      9
                  1989-1999    11     11       11     11
                  1999-2009    26     26       26     23
                  2009-2019    69     69       69     66

[66 rows x 4 columns]